body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  display: flex;
  width: 1600px;
  flex-direction: column;
}
a {
  text-decoration: none;
}
p {
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #373737;
}
header{
  display: flex;
}
nav {
  display: flex;
  flex: 1 0 0;
  justify-content: center;
}
h1 {
  font-size: 64px;
  line-height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}
button {
  display: flex;
  flex-direction: row;
  padding: 15px 47px;
  background: #00AFDB;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  width: 184px;
  height: 46px;
  border:none;
}
button:hover {
  background: #009CC2;
}
h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
}
h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #373737;
}
.navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  display: flex;

  color: #FFFFFF;
  margin-top:36px;
  margin-right: 72px;
}
.navigation:hover {
  text-decoration: underline;
  cursor: pointer;
}
.yourLife {
  height: 744px;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(assets/bg-first.jpg);
  background-size:  cover;
  background-position: center;
}
.about {
  margin: auto;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  width: 504px;
}
.getStarted {
  margin-right: auto;
  margin-left: auto;
}
.social {
  display: flex;
  justify-content: center;
}
.socialIcon {
  margin-right: 30px;
  margin-bottom: 87px;
}
.rappresent{
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  color: #4E4E4E;
  height: 842px;
}
.rappresentText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 37% 17%;
}
.rappresentImage {
  display: flex;
  justify-content: flex-start;
  flex: 42.3% 0 0;
  margin-top: 14%;
  margin-bottom:14%;
}
.rappresentParagraf{
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
}
.bold {
  font-weight: 800;
}
.withTechnics {
  width: 407px;
  height: 582px;
}

.ourCommunity {
  display: flex;
  flex-direction: row;
  height: 504px;
  background: #F5F6F7;
}
.review{
  display: flex;
  flex-direction: column;
  flex:44% 0 0;
}
.reviewBlock{
  width: 298px;
  height: 175px;
  margin: auto;
}
.reviewPhoto{
  text-align: center;
}
.personPhoto{
  width: 45px;
  height: 45px;
  border-radius: 50%
}
.gallery {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  margin: auto;
}
.arrows {
  display: flex;
  flex-direction: row;
  margin: 1% auto;
}
.arrowsElement {
  font-size: 18px;
  line-height: 140%;
}
.leftArrows {
  border: solid #373737;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 12px;
  transform: rotate(135deg);
}
.rightArrows {
  border: solid #373737;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 12px;
  transform: rotate(-45deg);
}
.galletyNavigation {
  display: flex;
  flex-direction: row;
}
#photo {
  display: flex;
  flex-direction: row;
  width: 407px;
  height: 244px;
  margin-right: 30px;
}
.implement {
  display: flex;
  flex-direction: row;
  height: 842px;
  background: #FFFFFF;
}
.photoImplement {
  margin: auto;
}
.photoNotebook {
  width: 407px;
  height: 582px;
}
.textImplement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 407px;
  height: 184px;
  margin: auto;
 }
.subscribe {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(assets/bg-second.jpg);
  background-size:  cover;
  background-position: bottom;
  height: 598px;
  display: flex;
  flex-direction: column;
}
.titleSubscribe {
  color: #FFFFFF;
  margin: auto;
}
.emailForm {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.lineMail {
  width: 340px;
  height: 46px;
  padding: 0px;
}
.buttonMail {
  width: 66px;
  height: 46px;
  background: #00AFDB;
  border: #00AFDB;
  border-radius: 0px;
}
.buttonMail:hover {
background: #009CC2;
}
.download {
  background: #F5F6F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 468px;
}
.textDownload {
  margin: auto;
  text-align: center;
  color: #4E4E4E;
}
.textDownload h4 {
  display: block;
}
.articleDownload {
  height: 40px;
  width: 483px;
  text-align: center;
}
.buttonDownload {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}
.buttonStore {
  width: 128px;
  height: 50px;
  padding: 16px 7px;
}
.buttonIcon {
  background: #009CC2;
  margin-right: 30px;
  width: 60px;
  height: 50px;
  padding: 16px 7px;
}
footer {
  background: #000000;
  height: 184px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #FFFFFF;
}
.navFooter {
  border-right: 1px solid #4E4E4E;
  padding: 21px 0px;

}
