body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  display: flex;
  width: 1600px;
  flex-direction: column;
  margin: auto;
}
a {
  text-decoration: none;
  cursor: pointer;
}

p {
  font-weight: normal;
  font-size: 14px;
  line-height: 144%;
  color: #373737;
  margin: 0;
}
header{
  display: flex;
}
nav {
  display: flex;
  flex: 1 0 0;
  margin: 25px 502px;
}
h1 {
  font-size: 64px;
  line-height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 8.46% 26.7% 1.4% 27.07%;
}
button {
  display: flex;
  flex-direction: row;
  background: #00AFDB;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  width: 184px;
  height: 46px;
  border:none;
  letter-spacing: -1px;
  padding: 15px 47px 15px 44px;
}
button:hover {
  background: #009CC2;
  cursor: pointer;
}
h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
  margin: 0%;
}
h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #373737;
}
.navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  color: #FFFFFF;
  margin-top: 15px;
  padding-right: 85px;
}
.navigation:hover {
  text-decoration: underline;
  cursor: pointer;
}
nav a:first-child {
  text-decoration: underline;
}
.logo {
  margin: 0 15px;
  padding-right: 85px;
}
.yourLife {
  height: 744px;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(assets/bg-first.jpg);
  background-size: cover;
  background-position: center;
}
.about {
  margin: 0% 0% 0% 34.28%;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  width: 504px;
}
.getStarted {
  margin: 1.75% 0% 0% 44.2%;
}
.social {
  display: flex;
  justify-content: center;
  margin: 11.5% 43.4%;
}
.socialIcon {
  margin: 0px 7% 0px 7%;
}
.socialIcon svg:hover {
  cursor: pointer;
  stroke: #00AFDB;
}
.rappresent{
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  color: #4E4E4E;
  height: 842px;
}
.rappresentText {
  display: flex;
  flex-direction: column;
  height: 220px;
  width: 480px;
  margin: 10.5% 16%;

}
.rappresentImage {
  display: flex;
  justify-content: flex-start;
  flex: 42.3% 0 0;
  margin: 7.5% 0%;
}
.rappresentText h4{
  width: 380px;
  margin: 31% 0% 5% 3%;
}
.rappresentParagraf{
  font-weight: normal;
  font-size: 14px;
  line-height: 149%;
  width: 408px;
  margin: 0% 0% 0% 3%;
}
#Left {
  margin: 7.4% 0% 0% 3.1%;
}
.bold {
  font-weight: 800;
}
.withTechnics {
  width: 407px;
  height: 582px;
}

.ourCommunity {
  display: flex;
  flex-direction: row;
  height: 504px;
  background: #F5F6F7;
}
.review{
  display: flex;
  flex-direction: column;
  flex: 44.1% 0 0;
}
.reviewBlock{
  width: 298px;
  height: 175px;
  margin: 17% 38%;
}
.reviewText {
  margin: 0% 0% 0% 1%;
}
.communityParagraf {
  text-align: center;
  margin-top: -5%;
}
.reviewPhoto{
  text-align: center;
  margin: 12% 0% -4% 1%;
}
.personPhoto{
  width: 45px;
  height: 45px;
  border-radius: 50%
}
.gallery {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  margin: 4.9% 0% 0% 0.05%;
}
.arrows {
  display: flex;
  flex-direction: row;
  margin: 0% 24% 0% 60%;
}
.arrowsSVG {
  padding: 1.7% 5% 14.4% 5%;
}
.arrowsSVG:hover {
  cursor: pointer;
}
.arrowsElement {
  font-size: 18px;
  line-height: 140%;
  padding: 0% 0% 0% 2.5%;
}
.leftArrows {
  border: solid #373737;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 12px;
  transform: rotate(135deg);
}
.rightArrows {
  border: solid #373737;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 12px;
  transform: rotate(-45deg);
}
.galletyNavigation {
  display: flex;
  flex-direction: row;
}
#photo {
  display: flex;
  flex-direction: row;
  width: 407px;
  height: 244px;
  margin-right: 30px;
}
.implement {
  display: flex;
  flex-direction: row;
  height: 842px;
  background: #FFFFFF;
}

.photoNotebook {
  width: 407px;
  height: 582px;
  margin:29.5% 0% 0% 66.3%;
}
.textImplement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 407px;
  height: 184px;
  margin: 20% 0% 0% 25.5%;
 }
 .textImplement button {
   margin: 2.8% 0% 0% 0%;
   width: 180px;
 }
.subscribe {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(assets/bg-second.jpg);
  background-position: 50% 90%;
  height: 598px;
  display: flex;
  flex-direction: column;
}
.titleSubscribe {
  color: #FFFFFF;
  margin: 13.6% 0% 0% 38.25%;
}
.emailForm {
  display: flex;
  flex-direction: row;
  margin: 1.85% 0% 0% 37.35%;
}

.lineMail {
  width: 317px;
  height: 46px;
  border: none;
  padding: 0% 0% 0% 2.3%;
}
.buttonMail {
  width: 66px;
  height: 46px;
  background: #00AFDB;
  border: #00AFDB;
  border-radius: 0px;
  padding: 1.6% 0% 0% 0.2%;
}
.buttonMail:hover {
background: #009CC2;
}
.buttonMail svg:hover {
  cursor: pointer;
}
.buttonMail path:hover {
  fill: #000000;
}
.download {
  background: #F5F6F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 468px;
}
.textDownload {
  margin: 7.5% 0% 0% 2px;
  text-align: center;
  color: #4E4E4E;
}
.textDownload h4 {
  display: block;
}
.articleDownload {
  height: 40px;
  width: 483px;
  text-align: center;
  margin: 4.1% 0% 0% 0.2%;
}
.buttonDownload {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1.9% 0% 0% 1.9%;
}
.buttonStore {
  width: 128px;
  height: 50px;
  padding: 18px 0px 0px 0px;
}
.buttonIcon {
  background: #009CC2;
  margin-right: 30px;
  width: 60px;
  height: 50px;
  padding: 15px 0px 0px 1px;
}
.buttonIcon path:hover {
  fill: #000000;
}
footer {
  background: #000000;
  height: 184px;
  display: flex;
  flex-direction: row;
}
footer nav {
  flex: 0 0 0;
  margin: 4.7% 0% 5.9% 8.7%;
}
.navFooter  {
  padding: 0px 19px 0px 21px;
  margin: 0%;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
}
nav span {
  border-right: 1px solid #4E4E4E;
  height: 8px;
  margin: 5px 0px;
}
nav a:last-child {
  border-right: none;
  width: 65px;
}
footer nav a:first-child {
  text-decoration: none;
}
.logoFooter {
  margin: 3.8% 0% 0% 22.65%;
}
.author {
  display: flex;
  flex-direction: row;
  margin: 4.6% 0% 0% 28.1%;
}
.author2020 {
  font-weight: normal;
  color: #818181;
}
