body {
  width: 1600px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  display: flex;
}
a {
  text-decoration: none;
}
header{
  display: flex;
}
nav {
  display: flex;
  flex: 1 0 0;
  justify-content: center;
}
h1 {
  font-size: 64px;
  line-height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}
button {
  display: flex;
  flex-direction: row;
  padding: 15px 47px;
  background: #00AFDB;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  width: 184px;
  height: 46px
}
button:hover {
  background: #009CC2;
}
h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  display: flex;

  color: #FFFFFF;
  margin-top:36px;
  margin-right: 72px;
}
.navigation:hover {
  text-decoration: underline;
  cursor: pointer;
}
.yourLife {
  background-image: url(assets/bg-first.jpg);
  height: 744px;
  width: 100%;
}
.about {
  margin: auto;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  width: 504px;
}
.getStarted {
  margin-right: auto;
  margin-left: auto;

}
.social {
  display: flex;
  justify-content: center;
}
.socialIcon {
  margin-right: 30px;
  margin-bottom: 87px;
}
.rappresent{
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  color: #4E4E4E;
  height: 842px;
}
.rappresentText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 37% 17%;
}
.rappresentImage {
  display: flex;
  justify-content: flex-start;
  flex: 42.3% 0 0;
  margin-top: 14%;
  margin-bottom:14%;
}
.rappresentParagraf{
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
}
.bold {
  font-weight: 800;
}
.withTechnics {
  width: 407px;
  height: 582px;
}
#left {
  justify-content: flex-start;
}
